<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".ui.promises.PromisesActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gameresult.GameResultActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gaming.GamingActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.promiseinfo.PromiseInfoActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AlmostThere.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.creatingpromise.CreatingPromiseActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.join.ProfileActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.join.JoinActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

        <receiver android:name=".background.receiver.AlarmReceiver" />
        <receiver android:name=".background.receiver.AlarmTouchReceiver" />
        <receiver
            android:name=".background.receiver.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".background.service.PromiseGameService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name=".background.service.PromiseReadyService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name=".background.service.PromiseAlarmRegisterService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".background.service.AlarmRestartService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>